<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="protplot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="oprot.plot.wpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <protplot.Properties.Settings>
            <setting name="MinimumCurrent" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="MaximumCurrent" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="NumberOfSamples" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="BaseVoltage" serializeAs="String">
                <value>11000</value>
            </setting>
            <setting name="HideDisclaimer" serializeAs="String">
                <value>False</value>
            </setting>
        </protplot.Properties.Settings>
        <oprot.plot.wpf.Properties.Settings>
            <setting name="MinimumCurrent" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="MaximumCurrent" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="NumberOfSamples" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="BaseVoltage" serializeAs="String">
                <value>11000</value>
            </setting>
        </oprot.plot.wpf.Properties.Settings>
    </userSettings>
  <runtime>
    
  </runtime>
</configuration>
